/* Nice colors: https://coolors.co */
/* Body */
body {
  font-family: 'Montserrat', sans-serif;
  min-height: 75rem;
  padding-top: 3rem;
}
/* Jumbotron */
.jumbotron {
  text-align: left;
  padding-top: 8rem;
  padding-bottom: 8rem;
  opacity: 1.0;
  background-position: center center;
  position: relative;
  background-size: cover;
  color: white;
}
/* Navbar */
.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;  /* or scroll */
}
/* Bible ref */
.ref {
  font-weight: bold;
  font-size: small;
}
.en-version {
  font-size: x-small;
  color: #277da1;
}
/* Hebrew highlighting */
.hebrew {
  /* See https://fonts.google.com/?subset=hebrew for other options */
  /*font-family: Arimo, sans-serif;*/
  /*font-family: 'Frank Ruhl Libre', serif;*/
  font-family: 'David Libre', serif;
  font-size: 160%;
}
.no-link button {
  color: black;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
.token-hovered {
  text-shadow: 0px 0px 10px #577590;
}
.token-clicked {
  text-shadow: 0px 0px 10px #f94144;
  font-weight: bold;
}
.token-pre {
  color: #277da1;
}
.token-o {
  color: #6b705c;
}
.token-punc {
  color: #6b705c;
}
/* Transliteration */
.translit {
  font-size: 85%;
  font-style: italic;
}
.translit button {
  font-style: italic;
}
/* Search-result highlighting */
.highlight {
  color: red;
  font-weight: bold;
}
.chapter-button {
  width: 60px;
  border-color: #D3D3D3;
}
/* Token modal */
.sid {
  font-size: 85%;
  color: gray;
}
.modal-key {
  font-size: small;
  font-weight: bold;
  color: gray;
}
.modal-section {
  margin-bottom: 3px;
}
